
.box {
  position: relative;
  top: 50px;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}


.box-wrapper .links {
  margin-top: 20px;
  font-size: small;
}

.box-wrapper .auth-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.box-wrapper .full-width,
.box-wrapper .btn-block {
  width: 100%;
}

.box-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  //font-weight: 700;
}

.box-wrapper .mat-card {
  padding: 40px 70px 50px;
}
