<div fxLayout="column">

  <div fxFlexOffset="20px" fxLayout="row" fxLayoutAlign="center start">

    <mat-card fxFlex="80%">
      <mat-card-header>
        <mat-card-title>Edit User</mat-card-title>
      </mat-card-header>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content fxLayout="column">
          <mat-form-field class="full-width">
            <input formControlName="fullName" matInput placeholder="Full Name">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input readonly="readonly" formControlName="birthDate" matInput placeholder="Birth Date">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input type="email" readonly="readonly" formControlName="email" matInput placeholder="Email">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Department</mat-label>
            <mat-select formControlName="department">
              <mat-option *ngFor="let dep of departments$ | async" [value]="dep.id">
                {{dep.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-button color="primary" (click)="back()">Back</button>
          <button mat-button color="primary">Save</button>
        </mat-card-actions>

      </form>
    </mat-card>

  </div>
</div>
