<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Complete Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            padding: 5px;
            background-color: #bed5dc;
        }
        table, tr, td {
            border: 0;
            padding: 0;
            margin: 0;
        }
        td {padding: 10px}
        footer {
            font-size: x-small;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td><h2>Welcome to SolarSystem News App!</h2></td>
        <td>
            <img src="logo.png " alt="News App Logo" th:src="|cid:${logo}|" width="64" height="64"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p>Dear <span th:text="${user.fullName}"></span>,</p>
            Please following the <a th:href="|${URL}/auth/create-password?token=${credentials.passwordResetToken}&email=${user.email}|">link</a> to complete your registration.
        </td>
    </tr>
</table>
</body>
</html>
