<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutGap="10px"   fxFlex="80%">
    <div>&nbsp;</div>
    <app-user-info
      [user]="user$"
      [canEdit]="(session.permissions$ | async).isSystemAdmin"
      (edit)="editUser()"
    ></app-user-info>

  </div>
</div>
