<mat-toolbar color="primary" class="app-header">
    <span>SolarSystem Inc. News</span>

    <span class="fill-remaining-space"></span>
    <ng-container *ngIf="session.user$ | async as user">
        <button mat-button [matMenuTriggerFor]="menu">{{user.fullName}}</button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item routerLink="/profile">Profile</button>
            <button mat-menu-item routerLink="/auth/logout">Logout</button>
        </mat-menu>
    </ng-container>
</mat-toolbar>

<nav mat-tab-nav-bar *ngIf="(session.permissions$ | async).loggedIn">
    <a mat-tab-link
       routerLink="/"
       [active]="pathIs('/')">
        Dashboard
    </a>
    <a mat-tab-link
       routerLink="/notifications"
       [active]="pathIs('/notifications')">
        Notifications
    </a>
    <a mat-tab-link
       routerLink="admin"
       [active]="pathStartsWith('/admin')">
        Manage Users
    </a>
    <a mat-tab-link
       routerLink="admin"
       *ngIf="pathStartsWith('/profile')"
       [active]="pathStartsWith('/profile')">
        Profile
    </a>

</nav>
<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutGap="10px" fxFlex="80%" fxLayoutAlign="space-between stretch">
        <span>&nbsp;</span>

        <router-outlet></router-outlet>
    </div>
</div>
