<div class="table-container" fxLayout="column" fxLayoutAlign="space-between stretch">

  <div fxFlex="40px" fxLayout="row" fxLayoutAlign="space-between stretch">

  <mat-form-field fxFlex fxFlexOffset="10px">
    <input matInput #search [ngModel]="searchTerm" (ngModelChange)="applyFilter($event)" placeholder="Search..." autocomplete="off">
  </mat-form-field>
    <span fxFlex="1%">&nbsp;</span>

    <button fxFlex="5%" mat-button (click)="reload(); search.value=''" [disabled]="search.value==''">
      <mat-icon>clear</mat-icon>
    </button>
    <span fxFlex="1%">&nbsp;</span>
  </div>
  <span fxFlex="1%">&nbsp;</span>
  <div fxFlex  class="mat-elevation-z8">


    <table mat-table [dataSource]="usersDS">

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Full Name</th>
        <td mat-cell *matCellDef="let u"> {{u.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef width="33%"> Email</th>
        <td mat-cell *matCellDef="let u"> {{u.email}} </td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef width="33%"> Deparment</th>
        <td mat-cell *matCellDef="let u">
          {{u.department.name}}
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['view', row.id]"></tr>
    </table>
    <mat-paginator hidePageSize="true" pageSize="3" [length]="total$ | async"  ></mat-paginator>
  </div>
</div>
