<mat-card>
  <mat-card-header>
    <mat-card-title>{{(userSubject | async)?.fullName }}</mat-card-title>
    <mat-card-subtitle>
      {{(userSubject | async)?.department?.name}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      <a [href]="'mailto:'+(userSubject | async)?.email"> {{(userSubject | async)?.email}} </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="font-size: larger; padding-left: 10px">
  </mat-card-content>

  <mat-card-actions align="end" *ngIf="canEdit">
    <button mat-button color="primary" (click)="fireEdit()">Edit</button>
  </mat-card-actions>
</mat-card>
