html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF7FA;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;

}
