<div class="box-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>New password</mat-card-title>
    </mat-card-header>

    <form class="auth-form"  [formGroup]="formGroup" (ngSubmit)="createPassword()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <label>
            <input formControlName="password" type="password" matInput placeholder="Password">
          </label>
        </mat-form-field>

        <mat-form-field class="full-width">
          <label>
            <input formControlName="password2" type="password" matInput placeholder="Retype Password">
          </label>
        </mat-form-field>
      </mat-card-content>
      <button mat-flat-button color="primary" class="btn-block">Reset Password</button>
    </form>
  </mat-card>

</div>
