<div class="box-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Restore password</mat-card-title>
    </mat-card-header>

    <form class="auth-form" [formGroup]="group" (ngSubmit)="restorePass()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <label>
            <input formControlName="email" matInput placeholder="Email">
          </label>
        </mat-form-field>

      </mat-card-content>
      <button  mat-flat-button color="primary" class="btn-block">Restore</button>
    </form>
    <div class="links" fxLayout="row" fxLayoutAlign="space-between end">
      <a routerLink="../register">Register</a>
      <a routerLink="../login">Log in</a>
    </div>
  </mat-card>

</div>
