<div class="box-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="auth-form"  [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <label>
            <input formControlName="email" matInput placeholder="Email">
          </label>
        </mat-form-field>

        <mat-form-field class="full-width">
          <label>
            <input formControlName="password" type="password" matInput placeholder="Password">
          </label>
        </mat-form-field>
      </mat-card-content>
      <button mat-flat-button color="primary" class="btn-block">Log in</button>
    </form>
    <div class="links" fxLayout="row" fxLayoutAlign="space-between end">
      <a routerLink="../forgot-password">Forgot Password</a>
      <a routerLink="../register">Register</a>
    </div>
  </mat-card>

</div>
