<div fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3>Notifications</h3>
        <button mat-stroked-button (click)="sendNotification()">Send Notification</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef> Subject</th>
            <td mat-cell *matCellDef="let element"> {{element.notification.subject}} </td>
        </ng-container>
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author</th>
            <td mat-cell *matCellDef="let element"> {{element.notification.createdBy.fullName}} </td>
        </ng-container>
        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef> Department</th>
            <td mat-cell *matCellDef="let element"> {{element.notification.createdBy.department.name}} </td>
        </ng-container>
        <ng-container matColumnDef="sentAt">
            <th mat-header-cell *matHeaderCellDef> Time</th>
            <td mat-cell *matCellDef="let element"> {{element.notification.createdAt | date:'medium' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'read': row.read, 'unread': !row.read}" (click)="showNotification(row)"></tr>
    </table>

</div>
