<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Err... 404 :(</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      No such page here, better start from home
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="warn" routerLink="/">Go Home</button>
    </mat-card-actions>
  </mat-card>
</div>
