<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutGap="10px" fxFlex="80%">
    <div>&nbsp;</div>

    <app-user-info [user]="session.user$ | async"></app-user-info>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Change password</mat-card-title>
      </mat-card-header>

      <form class="auth-form" [formGroup]="formGroup" (ngSubmit)="changePassword()">
        <mat-card-content fxLayout="column">
          <mat-form-field class="full-width">
            <label>
              <input formControlName="oldPassword" type="password" matInput placeholder="Current Password">
            </label>
          </mat-form-field>
          <mat-form-field class="full-width">
            <label>
              <input formControlName="newPassword" type="password" matInput placeholder="New Password">
            </label>
          </mat-form-field>

          <mat-form-field class="full-width">
            <label>
              <input formControlName="newPassword2" type="password" matInput placeholder="Retype New Password">
            </label>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button color="primary">Change Password</button>
        </mat-card-actions>
      </form>
    </mat-card>


  </div>
</div>
