<div class="box-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">


    <form class="auth-form" [formGroup]="registration" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div fxLayoutAlign="center center" fxLayout="column" >
          <h4>Please contact your manager for registration</h4>
        </div>
      </mat-card-content>
    </form>
    <div class="links" fxLayout="row" fxLayoutAlign="space-between end">
      <a routerLink="../forgot-password">Forgot Password</a>
      <a routerLink="../login">Log in</a>
    </div>
  </mat-card>

</div>
